#Assignment 1

In [26]:
#print the version the python which you are using.
import sys
print(sys.version)

3.8.8 (tags/v3.8.8:024d805, Feb 19 2021, 13:18:16) [MSC v.1928 64 bit (AMD64)]

In [27]:
# five variables in same line
a,b,c,d,e=1,2,3,4,5
print(a,b,c,d,e)

1 2 3 4 5

In [28]:
#declare a variable ,check its type, and display its ID
name="mehwash"
print(type(name))
print(id(name))

<class 'str'>
2081421650800

In [29]:
#write a program in python that uses variables to perform a sum equal t0 44.
a=20
b=24
sum=a+b
print(f"sum is equal to:{sum}")

sum is equal to:44

In [30]:
#calculate the radius of circle.
import math
def cal_area(r):
    return math.pi*(r)**2
r=int(input("ener the radius:"))
output=cal_area(r)
print(output)

78.53981633974483

In [31]:
#print the user first name and last name.
first_name="Mehwash"
last_name="shahzadi"
full_name=first_name+" "+last_name
print(full_name)

Mehwash shahzadi

In [32]:
#is the following assignment statement valid or invalid.if it is invalid ,why?72=amount
"""This statement is invalid because variable name start with letter,underscore and not start with number."""

'This statement is invalid because variable name start with letter,underscore and not start with number.'

In [33]:
#is the variable name is Sales the same as the sales?why or why not.
"""variables name are the casesensitive.Sales and sales are not same these are two different variables"""

'variables name are the casesensitive.Sales and sales are not same these are two different variables'

In [34]:
#what will be displayed by the followingmy_value=99 ,my_value=0 
"""my_value=0 will be displayed because we reassign the value to my_value."""

In [23]:
# write the python statement that assign the sum of 10 and 14 to the variable total.
"""total=10+14"""

In [24]:
#write a python statement that subtract the variable down_payment from variable total and assign the result to the variable due.
""""due=total-down_payment"""

In [25]:
#write a python statement that multiplies the variable subtotal by 0.15 and assign the result to the variable total.
"""total=subtotal*0.15"""